<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Admin nadzor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Admin nadzor</h1>
        <nav>
            <a href="{{ url_for('home') }}">Domov</a>
            <a href="{{ url_for('logout') }}">Odjava</a>
        </nav>
    </header>
    <main>
        <h2>Seznam uporabnikov</h2>
        <ul>
            {% for user in uporabniki %}
                <li>{{ user['username'] }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
