<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>Prijava</h1>
        <nav>
            <a href="{{ url_for('home') }}">Domov</a>
            <a href="{{ url_for('register') }}">Registracija</a>
        </nav>
    </header>
    <main>
        <div id="error-message"></div>
            <label for="username">Uporabniško ime</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Geslo</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button onclick="login()">Prijavi se</button>
      
    </main>
     <script>

        function login() {
            const username = document.getElementById('username').value.trim();
            const password = document.getElementById('password').value.trim();
            const errorMessage = document.getElementById('error-message');

            if (username === '' || password === '') {
                errorMessage.textContent = 'Username and password are neccessary!';
                errorMessage.style.display = 'block';
                return;
            }

            $.ajax({
                url: '/login',
                type: 'POST',
                data: {
                    username: username,
                    password: password
                },
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        window.location.href = '/index';
                    } else{
                        errorMessage.textContent = response.error;
                        errorMessage.style.display = 'block';   
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error: ', xhr.responseText)
                    errorMessage.textContent = 'An error occured. Try again.'
                    errorMessage.style.display = 'block'
                }
            });
        }

    </script>
</body>
</html>
