<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>Moje vožnje</h2>
    <ul>
        {% for voznja in voznje %}
        <li>Destinacija: {{ voznja.destination }} | Datum: {{ voznja.date }} | Št. mest: {{ voznja.seats }}</li>
        {% else %}
        <li>Ni voženj.</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Nazaj</a>
    
</body>
</html>