<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje vožnje</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h2>Moje vožnje</h2>
    
    <ul>
        {% if voznje %}
            {% for voznja in voznje %}
                <li>
                    Začetek: {{voznja['zacetek']}}
                    Destinacija: {{ voznja['destinacija'] }} |
                    Datum: {{ voznja['datum'] }} |
                    Št. mest: {{ voznja['sedezi'] }}
                </li>
            {% endfor %}
        {% else %}
            <li>Ni voženj.</li>
        {% endif %}
    </ul>

    <a href="{{ url_for('index') }}">Nazaj</a>
</body>
</html>
