<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Registracija</h1>
        <nav>
            <a href="{{ url_for('home') }}">Domov</a>
            <a href="{{ url_for('login') }}">Prijava</a>
        </nav>
    </header>
    <main>
        <form method="POST">
            Uporabniško ime: <input type="text" id="username" name="username" required><br><br>
            Geslo: <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Registracija">
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </main>
</body>
</html>
